matching-game {
    text-align: center;
    .refresh {
      left:auto;
      right:0;
    }
    .scroll-content {
        display: flex;
        #libro-magico-container & {
            padding-top:2.5em; // top nav buttons
        }
        > div {
            flex:0 0 50%;
            display: flex;
            flex-direction: column;
            > div {
                flex: 0 0 20%;
                max-height: 20%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
                color: white;
                font-weight: bold;
                font-size: 4vh;
                text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
                img {
                    height: 16vh;
                    width: 16vh;
                    align-self: flex-end;
                    border-radius: 20px;
                    background: rgba(white, 0.5);
                }
            }
        }
    }
    #words {
        span {
            display: inline-block;
            border-radius: 20px;
            background: rgba(white, 0.5);
            padding: 0 .5em;
            line-height: 16vh;
        }
    }
    #words, #images {
        position: relative;
        z-index: 10;
        .selected {
            background: yellow;
        }
    }
    #lines {
        position: absolute;
        top: 3em;
        left: 16px;
        path {
            stroke-width: 1.6vh;
            stroke: rebeccapurple;
            stroke-linecap: round;
        }
    }
}