page-item-detail {
  font-size: 1.8rem;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  .volume {
    left: auto;
    right: 1rem;
    font-size: 2.2rem;
    top: 1rem;
  }
  h1 {
    font-size: 3rem;
    font-family: 'linotte', "Roboto", "Helvetica Neue", sans-serif;    
  }
  // .story-text, .list {
  // }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
  }
  .correct {
    background: rgba(green,.2);
  }  
  .incorrect {
    background: rgba(red,.2);
  }
  .muybien {
    padding:.5em 1em;
    position: absolute;
    right:1em;
    font-size: 1.5rem;
  }
}

#libro-magico-container page-item-detail .scroll-content {
  padding-bottom: 100px;
}