videos {
    .volume {
        left: auto;
        right: 12px;
        font-size: 2.2rem;
        top: 5px;
    }
    ion-header {
        display: flex;
        .button {
            background: transparent;
            box-shadow: none;
            text-shadow: 1px 1px darkgreen, -1px 1px darkgreen, 1px -1px darkgreen, -1px -1px darkgreen;
        }
    }
}
#libro-magico-container videos .scroll-content {
  padding-bottom: 100px;
}