page-video-player {
  .content, .toolbar-title, .toolbar-background, button.back-button {
    background: $blue;
    color: darkgreen;
    text-align: center;
  }
  .toolbar-content {
    display: flex;
    justify-content: space-between;
  }
  .volume {
    left: auto;
    right: 12px;
    font-size: 2.2rem;
    top: 0;
    position: relative;
    text-shadow: none;
    color: darkgreen;
    padding:0;
  }
  #music-off {
    top: 3px;
    line-height: 2.2rem;
    left: 6px;
  }
  #loader-circle {
    position: absolute;
    top: 10vh;
    left: calc(50vw - 40px)
  }
  iframe {
    width: 100%;
    height: calc(100vw * 9 / 16);
    max-height: 100%;
    @media (min-width:1024px) {
      height: calc(1024px * 9 / 16);
    }
  }
}