page-home {
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mlm {
        height: 25vh;
        width: 100%;
        text-align: center; 
        img {
            max-height: 100%;
        }
    }
    #menu-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 3vh 0;
        > div {
            flex: 0 0 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            cursor:pointer;
            padding: 4vh 5%;
            font-size: 3vh;
            border-radius: 20px;
        }
    }
    .home-button {
        background: rgba($yellow, .85);
        border-radius: 10px;
        color: white;
        text-shadow: 1px 1px #b9474a, -1px 1px #b9474a, 1px -1px #b9474a, -1px -1px #b9474a;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 4em;
        font-size: 1.1rem;
        text-decoration: none;
        padding: 0.5em;
    }
    #maguito-menu {
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        maguito {
            height: 100%;
        }
        img {
            height: 20vh;
            width: auto;
        }
    }
    .maguitohidden {
        max-height: 1px;
        overflow: hidden;
    }
    #entrada-container {
        position: absolute;
        top: 25vh;
        left: 0;
        width: 100%;
        text-align: center;
        display: none;
        &.show-entrada {
            display: block;
        }
    }
    #entrada {
        height: 50vh;
        width: 50vh;
        display: inline-block;
    }
}
