page-home {
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mlm {
        height: 25vh;
        width: 100%;
        text-align: center; 
        img {
            max-height: 100%;
        }
    }
    #menu-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 3vh 0;
        > div {
            flex: 0 0 40%;
            background: rgba($yellow, .85);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4vh 5%;
            margin-bottom: 20px;
            cursor:pointer;
            color: white;
            text-shadow: 1px 1px #b9474a, -1px 1px #b9474a, 1px -1px #b9474a, -1px -1px #b9474a;
            font-size: 3vh;
            text-align: center;
        }
    }
    #maguito-menu {
        height: 20vh;
        width: 100%;
        text-align: right;
        img {
            max-height: 100%;
        }
    }
}
