page-home {
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #mlm {
        background: url(/assets/menu/mlm.png) no-repeat center center;
        background-size: contain;
        height: 25vh;
        width: 100%;
    }
    #menu-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        > div {
            flex: 0 0 40%;
            background: rgba($yellow, .85);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4vh 5%;
            margin-bottom: 20px;
            cursor:pointer;
            color: white;
            text-shadow: 1px 1px #b9474a, -1px 1px #b9474a, 1px -1px #b9474a, -1px -1px #b9474a;
            font-size: 3vh;
            text-align: center;
        }
    }
    .scroll-content > #maguito {
        background: url(/assets/menu/maguito.png) right center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 20vh;
        width: 100%;
    }
}
