// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$yellow: #fbed75;
$blue: #b4e5df;
$red: #b9474a;

@import 'animations.scss';

@font-face {
    font-family: 'linotte';
    src: url('../assets/fonts/Linotte-SemiBold-webfont.woff2') format('woff2'),
         url('../assets/fonts/Linotte-SemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#libro-magico-container {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    width: 75vh;
    max-width: 100vw;
    ion-app {
        font-family: 'linotte', "Roboto", "Helvetica Neue", sans-serif;
    }
    page-elegir-imagen, bloques, matching-game, page-home {
        .scroll-content {
            overflow-y: hidden;
        }
    }
}
$navButtonSize: 35px;
$navButtonHorizPadding: 10px;

.nav-button {
    z-index: 10;
    position: absolute;
    background: transparent;
    font-size: $navButtonSize;
    top:0;
    left:0;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px darkgreen, -1px 1px darkgreen, 1px -1px darkgreen, -1px -1px darkgreen;
    &.volume {
        padding-right: 10px;
    }
}
#music-off {
    font-size: 200%;
    position: absolute;
    font-family: "Times New Roman", sans-serif;
    transform: rotate(-20deg);
    top: -10px;
    left: 11px;
    ion-header & {
        top: -6px;
        left: 10px;
    }
}
#libro-magico-container ion-alert {
    .alert-wrapper {
      max-width: none;
    }
    .alert-message {
      max-height: none;
    }
    .alert-title {
        font-size: 3em;
        text-align: center;
    }
}
#loading {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue;
    // background: rgba($yellow, .9);
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    #maguito { 
        padding-bottom:10vh;        
    }
    #loader-circle {
        padding-top:10vh;
    }
}
.bg-img {
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: auto;
    min-width: calc(100% + 64px);
    z-index: -1;
}