@keyframes tapped-animation {
  0% {
      background: rgba(yellow, 0.2);
  }
  100% {
      box-shadow:none;
  }
}
// @-webkit-keyframes tapped-animation {
//   0% {
//       background: rebeccapurple;
//   }
//   100% {
//       background:transparent;
//   }
// }
$duracionSubir: 3s;
page-elegir-imagen {
    text-align: center;
    @media (min-width:700px) {
        height: 700px;
    }
    // #vertical-container {
    //     display: flex;
    //     flex-direction: column;
    //     height: 100vh;
    //     max-height: 175vw;
    // }
    #letra-principal {
        height: calc(100vh - 34vw);
        display: flex;
        justify-content: center;
        // align-items: center;
        align-items: flex-start;
        @media (min-width:700px) {
            height: 700px;
        }
        div {
            font-size: 35vh;
            line-height: 70vh;
            position: absolute; 
            left:0;
            width:100%;
            overflow: visible;
            white-space: nowrap;
        }
    }
    .arriba #letra-principal {
        div {
            font-size: 5rem;
            line-height: 2em;
            left: 30%;
            width: 0%;
            transition: $duracionSubir all;
        }
    }
    ion-col.col {
        position: static;
    }
    #imagenes-letra {
        flex: 0 1 34vw;
        img {
            transition: none;
            border-radius: 20px;
            position: absolute;
            width: (100% / 3);
            top:calc(100vh - 34vw);
            &:first-child {
                left:0;
            }
            &:nth-child(2) {
                left:(100% / 3);
            }
            &:last-child {
                left:(200% / 3);
            }
        }
    }
    .arriba #imagenes-letra {
        .woohoo {
            position: absolute;
            top: 10rem;
            width: 90%;
            left:5%;
            box-shadow: 0 0 50px yellow, 0 0 30px yellow inset;
            
            animation: tapped-animation $duracionSubir linear;
            -webkit-animation: tapped-animation $duracionSubir linear; 
            transition: all 3s;            
        }
    }
}