@keyframes tapped-animation {
  0% {
      background: rgba(yellow, 0.2);
  }
  100% {
      box-shadow:none;
  }
}
// @-webkit-keyframes tapped-animation {
//   0% {
//       background: rebeccapurple;
//   }
//   100% {
//       background:transparent;
//   }
// }
$duracionSubir: 3s;
$tamanoGrande: 35vh;
page-elegir-imagen {
    text-align: center;
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        > div {
            flex: 0 0 50%;
        }
    }
    .volume {
      left:auto;
      right:0;
    }
    #letra-principal {
        @media (min-width:700px) {
            height: calc(100vh - (700px / 3));
        }
        div {
            font-size: $tamanoGrande;
            line-height: 50vh;
            text-transform: capitalize;
            position: absolute; 
            left:0;
            width:100%;
            overflow: visible;
            white-space: nowrap;
            text-shadow: .02em .02em white, -.02em .02em white, .02em -.02em white, -.02em -.02em white;
        }
    }
    .arriba #letra-principal {
        div {
            font-size: 10vh;
            line-height: 10vh;
            left: 30%;
            width: 0%;
            transition: $duracionSubir all;
        }
    }
    ion-col.col {
        position: static;
    }
    #imagenes-letra {
        img {
            transition: none;
            border-radius: 20px;
            position: absolute;
            width: (86% / 3);
            background: rgba(white, 0.5);
            // top:calc(100vh - 34vw);
            // @media (min-width:700px) {
            //     top: calc(100vh - (700px / 3));
            // }
            bottom:25%;            
            &:first-child {
                left: 7%;
            }
            &:nth-child(2) {
                left:(7% + 86% / 3);
                bottom: 10%;
            }
            &:last-child {
                left:(7% + 86% / 3 * 2);                
            }
        }
    }
    .arriba #imagenes-letra {
        .woohoo {
            position: absolute;
            bottom: 50vh;
            width: 50%;
            left:25%;
            box-shadow: 0 0 50px yellow, 0 0 30px yellow inset;
            animation: tapped-animation $duracionSubir linear;
            -webkit-animation: tapped-animation $duracionSubir linear; 
            transition: all 3s;            
        }
    }
}