@keyframes tapped-animation {
  0% {
      background: rgba(yellow, 0.2);
  }
  100% {
      box-shadow:none;
  }
}
// @-webkit-keyframes tapped-animation {
//   0% {
//       background: rebeccapurple;
//   }
//   100% {
//       background:transparent;
//   }
// }
$duracionSubir: 3s;
$tamanoGrande: 35vh;
page-elegir-imagen {
    text-align: center;
    // @media (min-width:700px) {
    //     height: 700px;
    // }
    // #vertical-container {
    //     display: flex;
    //     flex-direction: column;
    //     height: 100vh;
    //     max-height: 175vw;
    // }
    #letra-principal {
        height: calc(100vh - 34vw);
        @media (min-width:700px) {
            height: calc(100vh - (700px / 3));
        }
        div {
            font-size: $tamanoGrande;
            line-height: 70vh;
            position: absolute; 
            left:0;
            width:100%;
            overflow: visible;
            white-space: nowrap;
        }
    }
    .arriba #letra-principal {
        div {
            font-size: 5rem;
            line-height: (50vh/2/2); // a little less than the space left 
            left: 30%;
            width: 0%;
            transition: $duracionSubir all;
        }
    }
    ion-col.col {
        position: static;
    }
    #imagenes-letra {
        flex: 0 1 34vw;
        img {
            transition: none;
            border-radius: 20px;
            position: absolute;
            width: (100% / 3);
            // top:calc(100vh - 34vw);
            // @media (min-width:700px) {
            //     top: calc(100vh - (700px / 3));
            // }
            bottom: 0;
            &:first-child {
                left:0;
            }
            &:nth-child(2) {
                left:(100% / 3);
            }
            &:last-child {
                left:(2 * 100% / 3);
            }
        }
    }
    .arriba #imagenes-letra {
        .woohoo {
            position: absolute;
            bottom: calc(34vw + (35vh/2) );
            width: $tamanoGrande;
            left:calc((100vw - #{$tamanoGrande}) / 2);
            @media (min-width:700px) {
                bottom: 40%;
                left: calc((700px - #{$tamanoGrande}) / 2);
            }
            box-shadow: 0 0 50px yellow, 0 0 30px yellow inset;
            animation: tapped-animation $duracionSubir linear;
            -webkit-animation: tapped-animation $duracionSubir linear; 
            transition: all 3s;            
        }
    }
}