$blockSize: 25%;
bloques {
    .scroll-content {
      display: flex;
      flex-direction: column;
    }
    .lugares {
      flex: 0 0 30%;
      align-items: flex-end;
    }
    .block-area { 
      flex: 0 0 70%;
    }
    .bloque {
        display: inline-block;
        padding: 1em;
        border: 1px solid;
        margin: 1em;
    }
    .woohoo {
        background: rebeccapurple;
    }
    .col.lugar {
      // padding: 20px;
      &:first-child{
        text-align: right;
      }
    }
    .droppable {
      border: 2px dashed lightgray;
      width:$blockSize * 2 + 10%;
      padding-bottom: $blockSize * 2 + 10%; // programmers for the win
      display: inline-block;
      &.drop-target {
        border-color: green;
      }
    }
    .cubo {
      background: orchid;
      display: inline-block;
      width: $blockSize;
      padding-bottom: calc(#{$blockSize} - 1em);
      position: absolute;
    }
}