bloques {
    .bloque {
        display: inline-block;
        padding: 1em;
        border: 1px solid;
        margin: 1em;
    }
    .woohoo {
        background: rebeccapurple;
    }
}
// how to get rid of background image on .header-md:after ?