$blockSize: 28vmin;
$blockSizeLgScreen: 22vmin;
bloques {
    .scroll-content {
      display: flex;
      flex-direction: column;
    }
    .refresh {
      left:auto;
      right:0;
    }
    .bulb {
      left:auto;
      right: $navButtonSize;
      font-size: $navButtonSize - 5;
    }
    .hint {
      box-shadow: 0 0 10px 2px yellow, 0 0 10px 2px yellow inset;
      border-radius: 5px;
      background-color: rgba(yellow,0.5);
    }
    .lugares {
      flex: 0 0 30%;
      align-items: flex-end;
    }
    .block-area { 
      flex: 0 0 70%;
    }
    .bloque {
        display: inline-block;
        padding: 1em;
        border: 1px solid;
        margin: 1em;
    }
    .woohoo {
        background: rebeccapurple;
    }
    .col.lugar {
      // padding: 20px;
      &:first-child{
        text-align: right;
      }
    }
    .droppable {
      border: 0.6vh dashed darkgreen; // 1vh dashed yellow;
      display: inline-block;
      box-sizing: content-box;
      width:$blockSize;
      padding-bottom: $blockSize; // programmers for the win
      @media (min-width:500px) {
        width:$blockSizeLgScreen;
        padding-bottom: $blockSizeLgScreen; 
      }
      &.drop-target {
        border-color: #c3660d;
      }
    }
    .cubo {
      background-size: cover;
      position: absolute;
      text-align: center;
      color:white;
      text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
      width: $blockSize;
      padding-bottom: $blockSize;
      font-size: $blockSize / 4;
      @media (min-width:500px) {
        width: $blockSizeLgScreen;
        padding-bottom: $blockSizeLgScreen;
        font-size: $blockSizeLgScreen / 4;        
      }      
      span {
        position: absolute;
        transform: rotate3d(0,1,1,-3deg);
        width: 90%;
        right: 0;
        top: $blockSize * .4;
        @media (min-width:500px) {
          top: $blockSizeLgScreen * .4;          
        }
      }
    }
    .long-transition {
      transition: 0.8s all;
    }
    .shake {
      animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
}
.success-word {
  min-height: 270px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}